// Loaded via --nfconfig
// workaround for pubmlst and HPC issue
// debugged with chatGPT
process.withName: 'BACTOPIA:MLST:MLST_MODULE' {
  shell = ['/bin/bash','-uo','pipefail','-c']   // remove -e
  errMode = 'stdouterr'                         // optional
  // leave MLST_SCHEME unset for auto-detect
}
