process {
  cpus   = 8
  memory = '16 GB'
  env = [
    'NUMBA_DISABLE_CACHING': '1',
    'NUMBA_CACHE_DIR'      : '/tmp/numba'
  ]

  // Cap big steps across tools (Gubbins, Panaroo, PIRATE, IQ-TREE, etc.)
  withName: /GUBBINS_MODULE|PANAROO_RUN|PIRATE_MODULE|IQTREE_MODULE|SNPDISTS_/ {
    cpus   = 12         // ≤ physical cores you'll actually run with
    memory = '32 GB'
  }
}



// do NOT enable singularity/apptainer engines here; just set the cache dir
singularity {
  cacheDir = '/hpc/group/taylorlab/containers/apptainer_cache'
}

